* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

html {
   scroll-behavior: smooth;
}

header {
   background: #000000;

}

.container {
   max-width: 73%;
   margin: 0 auto;
}

.header {
   color: #fff;
   padding: 0.8rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-top {
   display: flex;
   align-items: center;
   gap: 4rem;
}

.logo {
   margin-left: 4px;
}

nav ul {
   display: flex;
   justify-content: space-between;
   gap: 3.5rem;
}

nav ul li {
   list-style: none;
}

header a {
   color: #fff;
   text-decoration: none;
}

.active {
   color: #F9804B;
}

.panda_img {
   width: 100%;
   height: 385px;
}

.fourth_section {
   max-width: 72.5%;
   margin: 0 auto;
}

.title{
   letter-spacing: 0.6px;

}

.title,
.subtitle {
   font-weight: 400;
   font-size: 2rem;
   line-height: 130%;
   color: #fff;
}



.text {
   font-weight: 500;
   line-height: 125%;
   color: #fff;
   margin-top: 0.75rem;
   margin-bottom: 3rem;
   letter-spacing: -0.85px;
}

.subtitle {
   color: #F9804B;
   margin-bottom: 3.7rem;
   letter-spacing: 2.2px;
}

main {
   background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
   opacity: 0.9;
}

.fourth_section {
   padding-top: 2.4rem;
   padding-bottom: 11rem;
}

.pick_section {
   height: auto;
   background: rgba(253, 253, 255, 0.52);
   backdrop-filter: blur(2px);
   border-radius: 1.2rem;
   margin: 0 auto;
   padding: 2.5rem 4rem 3.6rem 6.3rem;
   text-align: center;
}

.pick_section_title {
   font-weight: 400;
   font-size: 3rem;
   line-height: 125%;
   color: #FE9013;
   text-align: center;
   margin-right: 3rem;
}

.pick_section_subtitle {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 120%;
   color: #333B41;
   margin-top: 1.3rem;
   margin-bottom: 2.5rem;
   margin-left: -8px;
   text-align: start;
   letter-spacing: -0.15px;
}

.pick_section_text {
   margin-bottom: 1rem;
   font-size: 0.86rem;
   font-weight: 500;
   color: #333B41;
   letter-spacing: 0.2px;
   text-align: start;

}

.footer .orange_btn {
   float: none;
   border-radius: 5px;
   margin-top: 4.2rem;
   margin-bottom: 2.8rem;
   margin-left: 4px;
   margin-right: 6.5rem;
}

footer {
   height: 28rem;
   background: #111115;
   color: #FFFFFF;
}

.footer {
   display: flex;
   padding-top: 2.8rem;
   padding-bottom: 3rem;
}

.footer_social_medias {
   display: flex;
   flex-direction: column;
}

.social_media {
   display: flex;
   gap: 0.7rem;
   align-items: center;
   margin-bottom: 0.7rem;
   padding-left: 3px;
}

.social_media:active .footer_img_box {
   background: green;
}

.social_media p a {
   color: white;
   text-decoration: none;
}

.social_media:active p {
   color: green;
}

.orange_btn {
   width: 18.5rem;
   height: 3.4rem;
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   font-weight: 500;
   font-size: 14px;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   margin-top: 2rem;
   border: none;
}

.pick_section .orange_btn{
   margin-right: 2rem;
}

.footer_img_box {
   width: 1.6rem;
   height: 1.6rem;
   border-radius: 50%;
   background: rgba(196, 196, 196, 0.5);
   display: grid;
   place-items: center;
}

.orange_btn a {
   text-decoration: none;
   color: #fff;
}

.footer_nav ul {
   height: 22rem;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   gap: 3.6rem;
}

.footer_nav ul li {
   list-style: none;
}

.footer_nav ul li a,
.footer .orange_btn a {
   text-decoration: none;
   color: #fff;
}

.footer_email_input {
   margin-left: 2.25rem;
}

.footer_subtitle {
   font-weight: 400;
   font-size: 1.5rem;
   line-height: 120%;
   margin-bottom: 1rem;
}

.email_input {
   background: transparent;
   border: 1px solid #FE9013;
   padding: 0.85rem;
   padding-right: 3.2rem;
   margin-right: 0.5rem;
   color: #fff;
}

.email_input:active {
   background: #FFFFFF;
   border: 1px solid #4B9200 !important;
}

.submit_btn {
   font-size: 1.15rem;
   padding: 0.6rem 2rem;
   color: red;
   border-radius: 5px;
   border: 1px solid crimson;
}

.submit_btn:active {
   background: white;
   color: green;
   border: 1px solid green;
}

.footer_copyright {
   font-weight: 100;
   font-size: 16px;
   line-height: 170%;
   color: rgba(220, 220, 220, 0.615);
   align-content: flex-end;
   transform: translateX(37%) translateY(385%);
}

.howItWork_card {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3.7rem;
   margin-right: 4rem;
}

.four_img{
   margin-top: 3.5rem;
   margin-left: 1rem;
}

.x_symbol {
   margin-left: 0.4rem;
   margin-right: 4rem;
   margin-top: 1.8rem;
}

.howItWork_card_pr {
   margin-top: 0.6rem;
}

.progress-bar {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
   margin-top: 1rem;
   margin-left: -0.6rem;
}

.wrapper {
   height: 27px;
   background: #404950;
}

.progress-step {
   text-align: center;
   position: relative;
}

.progress-step:before,
.progress-step:after {
   background: rgba(114, 130, 142, 1);
   content: "";
   height: 2px;
   position: absolute;
   z-index: 1;
   top: 12px;
}

.progress-step:after {
   left: 50%;
   width: 100%;
}

.wrapper img {
   transform: translateY(-15%);
}

.is-active {
   transform: translateX(-45%) translateY(-350%) !important;

}

.progress-step:last-of-type.is-active:after {
   background-color: yellow;
}

.progress-step:first-of-type:before {
   right: 0% !important;
   width: 0% !important;
}

.progress-step:last-of-type::after {
   right: 0% !important;
   width: 0% !important;
}

@media screen and (min-width: 640px) {
   .progress-step:first-of-type:before {
      right: 50%;
      width: 50%;
   }
}

@media screen and (max-width: 640px) {

   .progress-step:first-of-type:before,
   .progress-step:last-of-type:after {
      background-color: white !important;
   }
}

.progress-step:last-of-type:after {
   left: 50%;
   width: 50%;
}

.progress-step .step-count {
   background-color: yellow;
   height: 10px;
   width: 10px;
   margin: 0 auto;
   border-radius: 50%;
   position: absolute;
   z-index: 100;
   left: 50%;
   transform: translateY(70%);
   cursor: pointer;
}

.progress-step.is-active .step-description {
   font-weight: 500;
}

.step-description {
   margin-top: 0.4rem;
   cursor: pointer;
}

.amount_div{
   margin-top: 3.2rem;
   margin-right: 1rem;
}

.amount_input_div {
   margin-top: 52px;
   margin-right: 2.4rem;
}

.amount_text {
   font-size: 15px;
   font-weight: 500;
   text-align: start;
   margin-bottom: 0.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
   position: relative;
   width: 16.75rem;
   background: transparent;
   padding: 1.1rem 0.7rem;
   border: 1px solid #929699;
   outline: none;
}

input[type=number]::placeholder {
   color: #929699;
}

.dollarSign {
   position: fixed;
   right: 40%;
   top: 71%;
}

.radio_inputs {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3.1rem;
   margin-top: 1.7rem;
   margin-right: 3.3rem;
}

input[type="radio"] {
   -webkit-appearance: none;
   margin: 0 5px 0 0;
   width: 1rem;
   height: 1rem;
   border: 1px solid #FE9013;
   border-radius: 50%;
}

.checked {
   background-color: #FE9013;
}

.radio_div {
   display: flex;
   gap: 5px;
   color: #333B41;
}

.share_text {
   font-weight: 400;
   line-height: 140%;
   margin-top: 30px;
   color: #333B41;
   letter-spacing: -0.75px;
   margin-right: 2rem;
}